.header{
  background: whithe;
  padding: 10px;
  overflow: hidden;
}


.Ayuda button{
  float: left;
  display: block;
  color: white;
  padding: 10px 30px;
  width: 200px;
  margin: 10px auto 0;
  background: #8A2BE2;
  border: 1px solid #8A2BE2;
  box-sizing: border-box;
  border-radius: 100px
}

.Salir button{
  float: right;
  display: block;
  color: white;
  padding: 10px 30px;
  width: 200px;
  margin: 10px auto 0;
  background: #8A2BE2;
  border: 1px solid #8A2BE2;
  box-sizing: border-box;
  border-radius: 100px
}


.container {
    background: white;
    padding: 50px;
  /*  border: 1px solid #000000;*/
    width: 600px;
    height: 800px;
    display: block;
    justify-content: center;
    margin: 0 auto 0;
    text-align: center;
    align-items: center;
}


h1 {
font-family: Coiny;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 31px;
/* identical to box height */
text-align: center;
color: #000000;
  margin: 0 auto 0;
}

/*
.Validation input{
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
   display: block;
  color: black;
  padding: 10px 50px;
  margin: 120px auto 0;
    <input type="text"  id="cardNumber" placeholder= "Número de tú tarjeta">
}*/

.contain-card input{

   display: block;
  color: black;
  margin: 20px auto 0;
  width: 200px;
  height: 44px;
  left: 123px;
  top: 202px;
  background: #8A2BE2;
  border: 1px solid #8A2BE2;
  box-sizing: border-box;
  border-radius: 10px;
}

input{
text-align: center;
}



.bawnet-logo{

  /*background-image: url('../imagenes/tarjetabawnet.png');
  padding: 100px;
  margin: 100px;*/
  background-image: url('./imagenes/bawnet.png');
  padding: 20%;
  margin: 10 10;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y: center;
}
