.logo-intro{
  width: 250px;
  height: 250px;
  image-size: contain;
  display:block;
  margin: 0 auto 0;
}

.Welcome{
  display:block;
  justify-content: center;
  margin: 0 auto 0;
}

h1 {
font-family: Coiny;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 31px;
/* identical to box height */

text-align: center;

color: #8A2BE2;
  margin: 0 auto 0;
}



  p {
    font-family: Coiny;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  text-align: center;

    color: #000000
  }

.creditcard-model{
  height: 300px;
  display:block;
  margin:auto;
justify-content: center;
}

.Validation input{
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
   display: block;
  color: black;
  padding: 10px 50px;
  margin: 10px auto 0;
}

input{
text-align: center
}


.Validation button{
  display: block;
  color: white;
  padding: 10px 30px;
  width: 200px;
  margin: 10px auto 0;
  background: #8A2BE2;
  border: 1px solid #8A2BE2;
  box-sizing: border-box;
  border-radius: 20px
}

.Exit button{
  display: block;
  color: white;
  padding: 10px 30px;
  width: 100px;
  margin: 10px auto 0;
  background: #8A2BE2;
  border: 1px solid #8A2BE2;
  box-sizing: border-box;
  border-radius: 20px
}
